<!DOCTYPE html>
{% extends "language/base.html" %}
{% load static %}
{% block title_block %}
<title>Chnage Format</title>
{% endblock %}
{% block body_block %}

<div class="row">
    <div class="col-md-6 offset-md-3 offset-1 col-10 g-md-3">
        <h3 class="my-3 alert alert-success ">Great! Here is your {{ converted_format }} file!</h3>
        <h6 class="lead">Click on the image below to download.</h6>
        <a href="{{ file_dir }}" target="blank"><img class="my-3 img img-fluid d-block" src="{{ file_dir }}"
                alt="No Image"></a>
    </div>
</div>
<hr>
<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6 offset-md-3 offset-2 col-8 g-md-3 mt-2">

            <a href="{% url 'image:index' %}" target="blank" class="btn btn-success"> Another Conversion?</a>
        </div>
    </div>
</div>

{% endblock %}