<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title_block %}
<title>Reshape Image</title>
<meta property="og:title" content="Reshape Image" />
{% endblock %}
{% block body_block %}

<div class="row">
    <div class="col-md-6 offset-md-3 offset-1 col-10 g-md-3">
        <h3 class="my-3 alert alert-success bg-transparent border-0">Great! Here is your reshaped file.</h3>
        <h5 class="">Click on the image to download.</h5>
        <a href="{{ file_dir }}" download target="blank"><img class="my-3 img img-fluid d-block" src="{{ file_dir }}"
                alt="No Image"></a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-6 offset-3 mt-5">
            <a href="{% url 'image:index' %}" class="btn btn-success">Reshape Another
                Image</a>
        </div>
    </div>
</div>

{% endblock %}