<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title_block %}
<title>Compressed Image</title>
<meta property="og:title" content="Compressed Image" />
{% endblock %}
{% block body_block %}

<div class=" row">
    <div class="col-md-6 offset-md-3 offset-1 col-10 g-md-3">
        {% if error %}
        <div class="alert alert-danger bg-transparent border-0">
            <h3>Sorry!</h3>
            <p>{{ err_text }}</p>
        </div>
        <h6 class="lead">Meanwhile, you can download this compressed (hopefully) image with
            <span class="text-success"><b>{{ reached_size }}Kb</b></span> of size. Click on the image below to download.
        </h6>
        {% else %}
        <h3 class="my-3 alert alert-success bg-transparent border-0">Great! Here is your compressed file!</h3>
        <h6 class="lead">The size is <span class="text-success"><b>{{ reached_size }}Kb.</b></span> Click on the image
            to download.</h6>
        {% endif %}
        <a href="{{ file_dir }}" download target="blank"><img class="my-3 img img-fluid d-block" src="{{ file_dir }}"
                alt="No Image"></a>
    </div>
</div>
<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6 offset-md-3 offset-2 col-8 g-md-3 mt-2">
            <a href="{% url 'image:index' %}" class="btn btn-success">Resize Another
                Image</a>
        </div>
    </div>
</div>

{% endblock %}