<!DOCTYPE html>
{% extends "language/base.html" %}
{% load static %}
{% block title_block %}
<title>Image Tools</title>
{% endblock %}

{% block body_block %}
<h1>Image Tools</h1>
{% if not saved %}
<form action="{% url 'image:index' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
        <input type="submit" value="submit" class="btn btn-primary">
    </div>
</form>
{% else %}
<div class="alert alert-success">
    <strong>Success!</strong> Image saved.
</div>
<p>{{ image.img_file.url }}</p>
<img src="{{image.img_file.url }}" alt="No Image">
{% endif %}
{% endblock %}