{% extends "base.html" %}
{% block title_block %}
<title>Language Detector</title>
<meta property="og:title" content="Language Detector" />
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
        <p class="text-center"><b>Paste (or type) text in below text area to find out which language it most
                likely belongs to. <br>
                For better result, use somewhat longer text!</b> </p>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 col-8 offset-2 text-center">
            <h4>
                Type the text here!
            </h4>

            <form action="{% url 'language:index' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control bg-transparent border" name="text" id="text" cols="30" rows="10"
                        placeholder="{{ text }}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
            <div class="result pt-3">
                {% if not error %}
                {% if language == 'No language found!' %}
                <h4 class="text-danger">
                    {{ language }}
                </h4>
                <h6>Consider using longer text.</h6>
                {% else %}
                <h4>The Most Likely Language Is:</h4>
                <h3 class="text-success">
                    {{ language }}
                </h3>

                <h4>All The Possible Languages are:</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Language</th>
                            <th>Probability</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for language, probability in languages %}
                        <tr>
                            <td>{{ language }}</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar"
                                        aria-valuenow="{{ probability }}" aria-valuemin="0" aria-valuemax="100"
                                        style="width:{{ probability }}%;">
                                        <span class=" sr-only">{{ probability }}%</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% else %}
                <h4 class="text-danger">No text is entered yet!</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}